{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_otopo/preview_grids

    The template HTML for the grids preview.
}}
{{> mod_otopo/grids_table }}
<div class="d-flex flex-row justify-content-end">
    {{#canmanagetemplates}}<a class="btn btn-primary ml-1 mr-1" href="{{config.wwwroot}}/mod/otopo/view.php?id={{cm.id}}&action=edit&object=templates">{{#str}} saveastemplate, otopo {{/str}}</a>{{/canmanagetemplates}}
    {{#canexportresults}}<a class="btn btn-primary ml-1 mr-1" href="{{config.wwwroot}}/mod/otopo/view.php?id={{cm.id}}&action=export&object=grids">{{#str}} exportascsv, otopo {{/str}}</a>{{/canexportresults}}
</div>
